#UPHeader{
  margin-top: 30px;

}
#UPHUserPhoto{

}

#UPHUserInfo{

}

#UPHUserPhoto img{
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
}
#UPBody{
 // background-color: red;
  margin-top: 20px;
}
#UPBody img{
  width: 100%;
}
#UPBody hr{
  border-top: 1px solid #e7e7e7;
}