<!DOCTYPE html>
<html>
  <head>
    <title>PSaP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4fc9383e1ee05f1b"></script>

    <script type="text/javascript">
        var addthis_share =
            {
                url: "https://www.instagram.com/"
            }
    </script>

  </head>
  <body>

    <div id="root">

    </div>



  <script src="/build/bundle.js"></script>
  </body>
</html>
