@import "reset";
@import "HeaderBar/HeaderBar";
@import "IndexPage/IndexPage";
@import "PostElement/PostElement";
@import "UserProfile/UserProfile";
@import "Login/Login";
@import "Registration/Registration";
@import "AddPhotoButton/AddPhotoButton";
@import "Footer/Footer";

@media (max-width: 1000px){

  #center{
    width: 90%;
  }
  #PhotosList{
    width: 100%;
  }
  .PE{
    margin-bottom: 0;
    width: 100%;
    border-radius: 0;
  }
  .PEHeader{
    border-radius: 0;
  }

}

body{
  background-color: aliceblue;
  overflow-y: scroll;

  height: 100%;
}

.content{
  padding-bottom: 50px;

}

.wrapper {
  position: relative;
  min-height: 100%;
}

.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
}

#center{
  float: unset;
  margin-left: auto;
  margin-right: auto;
  //padding-top: 45px;
}
#PhotosList{
  padding-top: 40px;
}