#AddPhotoButton {
  position: fixed;
  right: 19px;
  bottom: 30px;
}
.btn-circle.btn-lg {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 35px;
}

.newPhotoHolder{
  width: 100%;
}